/******************
** Variables CSS **
******************/
:root {
    --header-height: 7vh;
    --light-blue: #5FB9E9;
    --lighter-blue: #B1E2F3;
}

/************************
** Généralités du site **
************************/
* {
    margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
	color: #000;
}

html {
    scroll-behavior:smooth;
	scroll-padding-top: var(--header-height);
}

.disable-scroll {
  overflow: hidden;
}

/********************
** En-tête du site **
********************/
header {
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: white;
    z-index: 100;
    height: var(--header-height);
	width: 96%;
    padding: 0 2% 0 2%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.logo {
    height: 5vh;
}

/***********************
** Navigation du site **
***********************/
@media screen and (max-width: 849px) {
    #navList {
        display: none;
        position: fixed;
        flex-direction: column;
        align-items: center;
        row-gap: 0;
        list-style: none;
        background-color: var(--lighter-blue);
        height: calc(100vh - var(--header-height));
        width: 100vw;
        left: 0;
    }

    #navList.open {
        display: flex;
    }

    #navList li {
        text-align: center;
        border-bottom: 1px solid black;
        background-color: var(--lighter-blue);
    }

    #navList li:first-of-type {
        border-top: 1px solid black;
    }

    #navList a {
        display: block;
        width: 100vw;
        line-height: 5em;
    }

    #navToggle {
        font-size: calc(var(--header-height)/2);
        line-height: var(--header-height);
    }

    #navToggle:hover {
        cursor: pointer;
    }
}

@media screen and (min-width: 850px) {
    #navToggle {
        display: none;
    }

    #navList {
        display: flex;
        flex-direction: row;
        align-items: end;
        row-gap: 0;
        list-style: none;
    }

    #navList li {
        text-align: center;
    }

    #navList li:not(:last-child) {
        border-right: 1px solid black;
    }

    #navList a {
        display: block;
        width: 150px;
        line-height: var(--header-height);
    }
}

/**********************
** Contenu principal **
**********************/

main {
    padding-top: var(--header-height);
}

/*****************
** Landing page **
*****************/

#landing {
    position: relative;
    text-align: center;
}

#landing img {
    display: block;
    width: 100%;
}

#landing h1 {
    position: absolute;
    top: 5%;
    width: 100%;
}

#landing label {
    display: block;
    position: absolute;
    top: 30%;
    width: 100%;
}

/*************
** Sections **
*************/

section {
    width: 100vw;
}

@media screen and (max-width: 849px) {
    section:not(.unique) {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    section.reverse {
        flex-direction: column-reverse;
    }

    section>div>img {
        display: block;
        width: 100%;
    }
}

@media screen and (min-width: 850px) {
    section:not(.unique) {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    section>div {
        width: 50%;
    }

    section>div.content {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    section>div>img {
        display: block;
        width: 100%;
    }
}