/******************
** Variables CSS **
******************/
:root {
    --header-height: 7vh;
}

/************************
** Généralités du site **
************************/
* {
    margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
	color: #000;
}

html {
    scroll-behavior:smooth;
	scroll-padding-top: var(--header-height);
}

.disable-scroll {
  overflow: hidden;
}

/********************
** En-tête du site **
********************/
header {
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: white;
    z-index: 100;
    height: var(--header-height);
	width: 96%;
    padding: 0 2% 0 2%;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 5vh;
}

/***********************
** Navigation du site **
***********************/
#navList {
    display: none;
}

#navList.open {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    list-style: none;
    background-color: blueviolet;
    height: calc(100vh - var(--header-height));
    width: 100%;
    left: 0;
    padding-top: 20px;
}

#navToggle {
    font-size: calc(var(--header-height)/2);
    line-height: var(--header-height);
}