/******************
** Variables CSS **
******************/
:root {
    --header-height: 7vh;
}

/************************
** Généralités du site **
************************/
* {
    margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
	color: #000;
}

html {
    scroll-behavior:smooth;
	scroll-padding-top: var(--header-height);
}

/********************
** En-tête du site **
********************/
header {
    position: fixed;
    background-color: white;
    z-index: 100;
	width: 100%;
    height: var(--header-height);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 5vh;
    margin-left: 1%;
}

/***********************
** Navigation du site **
***********************/
nav > label, nav > #toggle
{
    display: none;
}

nav {
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

nav ul {
    list-style: none;
	display: flex;
	align-items: stretch;
	justify-content: space-evenly;
	height: 100%;
}

nav ul li {
	margin-right: 30px;
}

nav ul li a {
	font-size: 1.5em;
}

@media screen and (max-width: 991px) {
    nav
    {
        height: 60px;
    }
 
    nav > ul 
    {
        display: none;
        flex-direction: column;
        background: #48435C;
        height: 220px;
    }
 
    nav > ul a {
        width: 50%;
    }
 
    nav > label 
    {
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        font-size: 40px;
        color: rgb(0, 0, 0);
        cursor: pointer;
    }

    #toggle:checked + ul {
        display: flex;
    }
}

/******************
** Corps du site **
******************/
main {
	position: relative;
	top: var(--header-height);
}

section {
    display: flex;
    align-items: center;
	height: calc(100vh - var(--header-height));
	scroll-snap-align: start;
    width: 50%;
    background-color: white;
}

p {
    font-size: large;
    line-height: 1.5em;
    padding: 0 100px 0 100px;
    text-align: center;
}

.section-right {
    margin-left: 50%;
}

.bg-fixed {
    background-attachment: fixed;
    background-position: center;
}

.bg-1 {
    background-image: url("img/huskies-273409_1920.jpg");
}

.bg-2 {
    background-image: url("img/shepherd-dog2.jpg");
}